CS_CODE/MusicAppUWPv2/MusicAppUWPv2/Connected Services/MusicDBService/MusicDBService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2760/MusicDBService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MusicDBService.View" />
  <xs:element name="ProcessRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MusicDBService.View" minOccurs="0" name="model" nillable="true" type="q1:ViewModelClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessRecordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>