CS_CODE/MusicAppUWP/MusicAppUWP/Connected Services/MusicSQLService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MusicSQLService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MusicSQLService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOwner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Owner" nillable="true" type="tns:Owner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOwner" nillable="true" type="tns:ArrayOfOwner" />
  <xs:complexType name="Owner">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Owner" nillable="true" type="tns:Owner" />
</xs:schema>